<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
	link(rel='stylesheet', href='static/main.css')
body
	.container.admin-info
		h1 Привет, админ! ;)
		h4 Вот секретная информация:
		em= secret
